/* Variables
--------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);
@column-width: 75;
@gutter-width: 20;
@columns: 12;
@gridsystem-width: (@column-width * @columns) + (@gutter-width * @columns) * 1px;
@total-width: @gridsystem-width;
@blue: #00acd3;
@txtColorGrey: #888;

/* Mixins 
--------------------------------------------- */

.column(@x, @columns: @columns) {
    display: inline;
    float: left;
    width: @total-width*((((@gutter-width + @column-width) * @x ) - @gutter-width) / @gridsystem-width);
    margin: 0 @total-width * ((@gutter-width * .5) / @gridsystem-width);
}


/* Global
--------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    text-decoration: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

a {
	text-decoration: none;
}


/* Content
* 
--------------------------------------------- */

.container {
    width: @gridsystem-width;
    margin: 0 auto;
}

h1#logo {
    margin: 50px 10px;
    width: 204px;
    height: 190px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

ul {
    li {
        list-style-type: none;
    }
}

#left {
    float: left;
    .column(7);
    #title {
        h1 {
            margin: 0;
            padding: 10px 0;
            font: 41px 'Lato', sans-serif;
            font-weight: bold;
            color: @blue;
        }
        p {
            margin: 0;
            &:first-child {
                font-size: 24px;
                color: @txtColorGrey;
            }
            &:last-child {
                padding-bottom: 25px;
                font-size: 26px;
                color: #666;
            }
        }
    }
}

#info {
    padding: 30px 0;
    border-top: 1px solid #ccc;
    #when {
        display: block;
        float: left;
        width: 260px;
        text-transform: uppercase;
        #date {
            font-size: 29px;
            sup {
                text-transform: lowercase;
            }
        }
        #time {
            font: 62px "Lato", Arial, sans-serif;
            font-weight: bold;
        }
    }
    #address {
        display: block;
        float: left;
        margin: 0 10px;
        padding-bottom: 30px;
        p {
            padding: 0;
            margin: 0;
            color: #666;
            font-size: 21px;
            line-height: 35px;
        }
    }
}

#right {
    float: right;
    padding-top: 70px;
    #label {
        margin: 0;
        padding: 0;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: 1px;
    }
    .emailForm,
    .mailchimp {
        margin: 15px 0;
    }
    .emailForm {
        width: 426px;
        padding: 15px 25px;
        border: 1px solid #d5d5d5;
        border-radius: 5px;
    }
    .mailchimp {
        width: 204px;
        padding: 10px;
        background-color: #dd4b0a;
        font-size: 21px;
        color: #fff;
        border: 0;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: .1em;
        outline: none;
    }

    input.mailchimp:focus {
    		outline: 0;
    	
    }
    .column(5);
}

footer {
    clear: both;
    .footerBox {
        border-top: 1px solid #ccc;
        padding: 30px 0;
        #counter {
            ul.countdown {
                margin: 0;
                padding: 0;
                li {
                    display: inline-block;
                    width: 50px;
                    color: @txtColorGrey;
                    span {
                        font-size: 55px;
                        font-weight: bold;
                        line-height: 55px;
                    }
                    &.seperator {
                    	margin: 0 55px;
                    	height: 55px;
                    	width: 1px;s
                        font-size: 55px;
                        line-height: 55px;
                        vertical-align: top;
                        border: 1px solid @txtColorGrey;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
            .column(10);
        }
        #social {
            ul {
                margin: 0;
                padding: 0;
                float: right;
                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    i {
                        display: block;
                        padding: 10px;
                        color: @blue;
                    }
                }
                .column(2);
            }
        }
    }
}


/* Media Queries
* 
--------------------------------------------- */

  /* Smart-phones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    html {
        margin: 0 5%;
    }

    h1#logo {
        margin: 4% 4%;
        width: 20%;
    }

    #left {
        width: 100%;
        float: left;
        .column(3);
        text-align: center;
        #title {
            h1 {
                font-size: 18px;
            }

            p {
                &:first-child {
                    font-size: 16px;
                }
                &:last-child {
                    font-size: 18px;
              }
            }
        }
    }

    #info {
        text-align: center;
        #when{
            #date {
                font-size: 21px;
            }
            #time {
                font-size: 40px;
            }
        }
        #address {
            clear: both;
            p {
                font-size: 16px;
                line-height: 22px;
                padding: 0;
            }
        }
    }

    #right {
        border-top: 1px solid #ccc;
        padding-top: 10px;
        width: 100%;
        clear: both;
        .column(3);
         text-align: center;

        #label {
            letter-spacing:0; 
            line-height: 20px;
            font-size: 16px;  
        }

        #mc_embed_signup_scroll {
            text-align: center;
        }
        .emailForm,.mailchimp {
            margin: 5px 0;
         }
         .emailForm {
            width: 200px;
            padding: 10px 15px;
         }

         .mailchimp {
            width: 100px;
            padding: 5px;
            font-size: 14px;
            letter-spacing: 0px;
            font-weight: normal;
            text-align: center;
         }
        
    }

    

    footer {
        float: left;
        .column(4);
        .footerBox {
            padding: 10px 0;
            #counter {
                ul.countdown {
                    width: 45%;
                    padding: 2px;
                        margin: 2px;
                    li {
                        width: 5px;
                        span {
                            font-size: 20px;
                            line-height: 0px;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        #social {
            clear: both;
            .column(2);
            text-align: center;
            ul {
                float: center;
                li {
                    display: inline-block;
                    padding: 10px;
                }
            }
        }
    }


}

/* Smart-phones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */

  /*  .container {
        background-color: gray;
    }

    #left {
        .column(2);
       

      }

    #right {
        .column(2);
       
    }

    .footerBox {
        .column(3);
    }*/

}

/* Smart phones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */

    .container {
        background-color: gray;
    }



}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */

    html {
        margin: 0 5%;
    }

    /*#left {
        .column(3);
        float: left;
       
    }

    #right {
        .column(2);
        clear: both;
        float: left;
       
    }

    .footerBox {
        .column(4);
    }*/

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */

   /* .container {
        background-color: orange;
    }*/

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
   
   

    #left {
        .column(7);
        float: left;
       
    }

    #right {
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid #ccc;
        .column(7);
        clear: both;
        float: left;   

        #label {}
        #mc_embed_signup_scroll {
            text-align: center;
        } 
    }

    footer {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        .column(5);
    }

    #social {
        clear: both;
        .column(3);
        font-size: 40px;
        margin-top: 50px;
        ul {
            float: center;
            li {
                display: inline;
                padding: 30px;
                line-height: none;
            }
        }
    }
     

}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */

    /*.container {
        background-color: green;
    }*/

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */

   /* .container {
        background-color: teal;
    }*/

}





