/* Variables
--------------------------------------------- */
/* Mixins 
--------------------------------------------- */
/* Global
--------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  text-decoration: none;
}
body {
  width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
p {
  margin: 0;
}
section {
  min-height: 75vh;
}
/* Content
* 
--------------------------------------------- */
.logo {
  font-size: 25px;
  color: #F4F4F4;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  padding: 1.5%;
}
nav {
  float: right;
  width: 60%;
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}
.row {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
s #gallery .selection li {
  display: inline-block;
  padding: 6px 5px 4px 5px;
  font-size: 13pt;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}
s #gallery .selection li.active {
  border-bottom: 1px solid;
}
s #gallery .grid-item {
  margin-top: 40px;
  width: 20%;
  position: relative;
  display: inline-block;
  /*padding-right: 10px;*/
}
s #gallery .grid-item img {
  box-shadow: 0 19px 44px rgba(0, 0, 0, 0.09);
  max-width: 170px;
}
s #gallery .grid-item .profileInfo {
  margin-left: 10px;
  bottom: 50px;
  position: absolute;
  width: 40%;
}
s #gallery .grid-item .profileInfo hr {
  border: none;
  height: 2px;
  background: #fff;
  width: 74px;
  margin: 0;
  margin-bottom: 4px;
  margin-top: 4px;
}
s #gallery .grid-item .profileInfo p {
  color: #fff;
  font-size: 9pt;
}
s #gallery .grid-item .profileInfo .title {
  line-height: 13px;
}
s #gallery .grid-item .profileInfo .website {
  margin-bottom: 10px;
}
s #gallery .grid-item .firstName {
  color: #000;
  font-size: 15pt;
  font-weight: bold;
}
s #gallery .grid-item .lastName {
  color: #000;
  font-size: 12pt;
  font-weight: bold;
}
ul {
  padding: 0;
}
ul.social {
  list-style-type: none;
}
ul.social li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.modal {
  padding: 0;
  position: fixed;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  left: 20px;
  right: 20px;
  top: 50px;
  height: 584px;
  max-width: 1140px;
  background: white;
  box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.15);
}
.modal button {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  border: 0;
  outline: 0;
}
.modal .bio {
  background: #E8E8E8;
  height: 100%;
  position: absolute;
  max-width: 384px;
  min-width: 384px;
  padding: 40px;
  z-index: inherit;
}
.modal .bio h3 {
  margin-bottom: 0;
}
.modal .bio .social {
  position: absolute;
  bottom: 20px;
}
.modal .slider-container {
  background: #F4F4F4;
  position: absolute;
  left: 384px;
  overflow: hidden;
  background: #f4f4f4;
  right: 0;
  height: 100%;
}
.modal .slider-container .slider-shadow {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #F4F4F4 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 82%, #F4F4F4 100%);
  background: -o-linear-gradient(left, #F4F4F4 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 82%, #F4F4F4 100%);
  background: linear-gradient(to right, #F4F4F4 0%, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 82%, #F4F4F4 100%);
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.modal .slider-container .slider {
  transition: .8s ease left .1s;
  width: 2000px;
  /*border: 1px solid red;*/
  height: 400px;
  position: relative;
  top: 60px;
  left: 70px;
  box-shadow: inset;
}
.modal .slider-container .slider div {
  height: 100%;
  width: 540px;
  background: #E8E8E8;
  display: inline-block;
  float: left;
  margin-right: 70px;
}
#map {
  width: 100%;
  height: 1000px;
}
#instafeed {
  width: 100%;
}
#instafeed .instagram-item {
  display: block;
  float: left;
  width: 20%;
}
#instafeed .instagram-item img {
  display: block;
  width: 100%;
}
footer .social {
  font-size: 1.65em;
}
footer .social li {
  margin-right: 1em;
  text-align: right;
}
/* Media Queries
* 
--------------------------------------------- */
