/* Variables
--------------------------------------------- */
/* Mixins 
--------------------------------------------- */
.blue-gradient {
  background: -moz-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(98, 169, 214, 0.35) 35%, rgba(98, 169, 214, 0) 52%, rgba(101, 171, 215, 0) 53%, rgba(137, 191, 224, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(98, 169, 214, 0.35) 35%, rgba(98, 169, 214, 0) 52%, rgba(101, 171, 215, 0) 53%, rgba(137, 191, 224, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(98, 169, 214, 0.35) 35%, rgba(98, 169, 214, 0) 52%, rgba(101, 171, 215, 0) 53%, rgba(137, 191, 224, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.purple-gradient {
  background: -webkit-linear-gradient(25deg, #8852a0 0%, #8852a0 1%, rgba(136, 82, 160, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(25deg, #8852a0 0%, #8852a0 1%, rgba(136, 82, 160, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(25deg, #8852a0 0%, #8852a0 1%, rgba(136, 82, 160, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.hybrid-gradient {
  background: -webkit-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(165, 126, 184, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(165, 126, 184, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(165, 126, 184, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.blue-purple-gradient {
  background: -moz-linear-gradient(45deg, rgba(136, 82, 160, 0.7) 0%, rgba(0, 172, 211, 0.7) 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(45deg, rgba(136, 82, 160, 0.7) 0%, rgba(0, 172, 211, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(45deg, rgba(136, 82, 160, 0.7) 0%, rgba(0, 172, 211, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.group:after {
  content: "";
  display: table;
  clear: both;
}
#bg-gradient {
  /* FF3.6-15 */

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(#ffffff 0%, rgba(255, 255, 255, 0.02) 40%, rgba(255, 255, 255, 0) 51%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff 0%, rgba(255, 255, 255, 0.02) 40%, rgba(255, 255, 255, 0) 51%, #ffffff 100%);
  background: linear-gradient(#ffffff 0%, rgba(255, 255, 255, 0.02) 40%, rgba(255, 255, 255, 0) 51%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */

}
/* Global
--------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  text-decoration: none;
}
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
.container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}
h1 {
  font: bold 2em "Montserrat", Arial, Helvetica, sans-serif;
}
h2 {
  font: bold 1.75em "Montserrat", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
h3 {
  font: bold 1.35em "Montserrat", Arial, Helvetica, sans-serif;
}
h4 {
  font: bold 1.05em "Montserrat", Arial, Helvetica, sans-serif;
}
p {
  font: normal 1em "Lato", sans-serif;
  margin: 0;
  line-height: 1.3125;
}
a,
a:link,
a:active,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
}
section {
  min-height: 75vh;
}
button,
.btn {
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-radius: 5px;
}
input {
  height: 50px;
  color: #ffffff;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border-radius: 5px;
  padding-left: 25px;
  border: 1px solid #888;
}
.btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 0;
  background-color: white;
  box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
/* Media Queries */
/* Content
* 
--------------------------------------------- */
.header {
  position: static;
  width: 100%;
}
nav {
  display: inline-block;
  width: 100%;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  line-height: 1.5;
}
nav ul li.active {
  border: 1px solid;
  border-radius: 2pt;
  padding: 0 10px;
}
nav ul a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  display: inline-block;
  padding: 6px 5px 4px 5px;
  font-weight: bold;
  cursor: pointer;
}
nav ul.headerNavMobile {
  display: block;
}
@media only screen and (min-width: 1129px) {
  nav ul.headerNavMobile {
    display: none;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  nav ul.headerNavMobile {
    display: none;
  }
}
@media only screen and (max-width: 529px) {
  nav ul.headerNavMobile li {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  nav ul.headerNavMobile li {
    float: left;
    margin-left: 2.5vw;
  }
  nav ul.headerNavMobile li:first-child {
    margin-left: 15vw;
  }
}
nav ul.headerNav {
  width: 100%;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  nav ul.headerNav {
    display: none;
  }
}
@media only screen and (max-width: 529px) {
  nav ul.headerNav {
    display: none;
  }
}
nav ul.headerNav li {
  float: right;
  margin-right: 5%;
}
.row-nav {
  display: inline-block;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}
#logo {
  display: inline-block;
  width: 100%;
  padding: 2.5%;
}
@media only screen and (max-width: 529px) {
  #logo img {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  #logo img {
    display: block;
    margin: 0 auto;
  }
}
article#right-box-intro {
  padding: 10%;
  padding-top: 2.5%;
}
article#right-box-intro div#header-container div#paragraph-top {
  padding-bottom: 25%;
}
article#right-box-intro div#header-container div#paragraph-top p {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: light;
}
@media only screen and (max-width: 529px) {
  article#right-box-intro div#header-container div#paragraph-top p {
    text-align: center;
    margin: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  article#right-box-intro div#header-container div#paragraph-top p {
    text-align: center;
  }
}
article#right-box-intro div#header-container a {
  background-color: #8852a0;
  color: #ffffff;
  border: transparent;
  border-radius: 4px;
}
article#right-box-intro div#header-container a:last-child {
  background-color: #00acd3;
}
@media only screen and (max-width: 529px) {
  article#right-box-intro div#header-container a:last-child {
    margin-top: 5%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  article#right-box-intro div#header-container a:last-child {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 529px) {
  article#right-box-intro div#header-container a {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  article#right-box-intro div#header-container a {
    width: 50%;
    margin: 0 auto;
  }
}
article#left-box-intro {
  padding: 2.5%;
}
@media only screen and (max-width: 529px) {
  article#left-box-intro {
    text-align: center;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  article#left-box-intro {
    text-align: center;
  }
}
article#left-box-intro div#title h1 {
  margin: 0;
  padding: 4% 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color: #00acd3;
}
article#left-box-intro div#title p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
article#left-box-intro div#title p:first-child {
  font-size: 1.125em;
}
article#left-box-intro div#title p:last-child {
  padding-bottom: 25px;
  font-size: 1.3125em;
}
article#left-box-intro #info {
  margin-top: 25px;
}
article#left-box-intro #info #when {
  text-transform: uppercase;
}
article#left-box-intro #info #when #date {
  font-size: 1.5em;
}
article#left-box-intro #info #when #date sup {
  text-transform: lowercase;
}
article#left-box-intro #info #when #time {
  font-size: 3.0625em;
  font-weight: bold;
  letter-spacing: -1px;
}
article#left-box-intro #info #address {
  display: block;
  float: left;
}
@media only screen and (max-width: 529px) {
  article#left-box-intro #info #address {
    float: none;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  article#left-box-intro #info #address {
    float: none;
  }
}
article#left-box-intro #info #address p {
  padding: 0;
  margin: 0;
  color: #666;
  font-size: 1.125em;
  line-height: 18pt;
}
section#about {
  position: relative;
  min-height: 120vh;
  background: url(../images/influx_backgrounds2.svg) no-repeat;
  background-size: cover;
}
section#about h1,
section#about p {
  margin: 0 auto;
  text-align: center;
}
section#about h1 {
  margin-top: 20%;
  font-size: 2em;
  color: #8852a0;
  font-weight: bold;
}
@media only screen and (max-width: 529px) {
  section#about h1 {
    padding-top: 45%;
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  section#about h1 {
    padding-top: 20%;
  }
}
section#about p {
  font-size: 1.25em;
}
section#about #paragraph {
  margin: 5% 24%;
}
section#about #paragraph p:first-child {
  margin-bottom: 10%;
}
section#about #paragraph p:last-child {
  margin-top: 10%;
  margin-bottom: 40%;
}
@media only screen and (max-width: 529px) {
  section#about #paragraph {
    margin: 5% 0 ;
    padding-bottom: 45%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  section#about #paragraph {
    margin: 5% 0 ;
  }
}
#gallery .selection li {
  display: inline-block;
  padding: 6px 5px 4px 5px;
  font-size: 13pt;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
}
#gallery .selection li.show-dev {
  color: #793f98;
}
#gallery .selection li.show-des {
  color: #2a909b;
}
#gallery .selection li.show-hyb {
  color: #89A0EC;
}
#gallery .selection li.active {
  text-decoration: underline;
}
#gallery .grid {
  width: 100%;
}
#gallery .grid ul {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
#gallery .grid-item {
  cursor: pointer;
  float: left;
  width: 16.666666667%;
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s cubic-bezier(0.39, 0.32, 0.18, 0.84) all 0.1s;
  -o-transition: 0.3s cubic-bezier(0.39, 0.32, 0.18, 0.84) all 0.1s;
  transition: 0.3s cubic-bezier(0.39, 0.32, 0.18, 0.84) all 0.1s;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  /* margin-top: 40px;
		width: 170px;
		position: relative;*/

  /*border:1px solid red;*/

  /*padding-right: 10px;*/

}
#gallery .grid-item.dim {
  opacity: .4;
}
#gallery .grid-item.highlight {
  opacity: 1;
  /*	img:nth-of-type(2){
	    		opacity: 0;
	    	}*/

}
#gallery .grid-item.highlight .profileInfo {
  opacity: 1;
}
#gallery .grid-item.highlight .name {
  opacity: 0;
}
#gallery .grid-item.highlight img:nth-of-type(2) {
  opacity: 1;
}
#gallery .grid-item.hidden {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  position: absolute;
  opacity: 0;
  /*visibility: hidden;	*/

}
#gallery .grid-item .gallery-pic {
  margin: 10px;
  position: relative;
}
#gallery .grid-item img {
  box-shadow: 0 19px 44px rgba(0, 0, 0, 0.09);
  width: 100%;
  margin: 0px;
  margin-bottom: -4px;
}
#gallery .grid-item img:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0.39, 0.32, 0.18, 0.84) opacity;
  -o-transition: 0.3s cubic-bezier(0.39, 0.32, 0.18, 0.84) opacity;
  transition: 0.3s cubic-bezier(0.39, 0.32, 0.18, 0.84) opacity;
}
#gallery .grid-item .name {
  display: block;
  height: 43px;
  /*padding-left: 10px;*/

  /*display: none;*/

  float: left;
  position: absolute;
  bottom: 0;
  z-index: 100;
  color: white !important;
  transform: scale(0.7);
  opacity: .8;
  bottom: 20px;
  left: 10px;
}
#gallery .grid-item .name p {
  color: white !important;
}
#gallery .grid-item:hover .profileInfo {
  opacity: 1;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */

}
#gallery .grid-item:hover img:nth-of-type(2) {
  opacity: 1;
}
#gallery .grid-item:hover .name {
  opacity: 0;
}
#gallery .grid-item.dev .profileInfo {
  background: -webkit-linear-gradient(25deg, #8852a0 0%, #8852a0 1%, rgba(136, 82, 160, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(25deg, #8852a0 0%, #8852a0 1%, rgba(136, 82, 160, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(25deg, #8852a0 0%, #8852a0 1%, rgba(136, 82, 160, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
#gallery .grid-item.des .profileInfo {
  background: -moz-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(98, 169, 214, 0.35) 35%, rgba(98, 169, 214, 0) 52%, rgba(101, 171, 215, 0) 53%, rgba(137, 191, 224, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(98, 169, 214, 0.35) 35%, rgba(98, 169, 214, 0) 52%, rgba(101, 171, 215, 0) 53%, rgba(137, 191, 224, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(98, 169, 214, 0.35) 35%, rgba(98, 169, 214, 0) 52%, rgba(101, 171, 215, 0) 53%, rgba(137, 191, 224, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
#gallery .grid-item.hyb .profileInfo {
  background: -webkit-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(165, 126, 184, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(165, 126, 184, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(25deg, #62a9d6 0%, #62a9d6 1%, rgba(165, 126, 184, 0.35) 35%, rgba(136, 82, 160, 0) 52%, rgba(138, 86, 162, 0) 53%, rgba(165, 126, 184, 0) 64%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
#gallery .grid-item .profileInfo {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  opacity: 0;
  -webkit-transition: .3s ease opacity;
  -o-transition: .3s ease opacity;
  transition: .3s ease opacity;
}
#gallery .grid-item .profileInfo hr {
  border: none;
  height: 2px;
  background: #ffffff;
  width: 74px;
  margin: 0;
  margin-bottom: 4px;
  margin-top: 4px;
  position: absolute;
  bottom: 26px;
  left: 10px;
}
#gallery .grid-item .profileInfo p {
  color: #ffffff;
  font-size: 9pt;
}
#gallery .grid-item .profileInfo .title {
  line-height: 13px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 26px;
  margin-left: 10px;
}
#gallery .grid-item .profileInfo .website {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 10px;
}
#gallery .grid-item .firstName {
  color: #000;
  font-size: 18pt;
  font-weight: bold;
}
#gallery .grid-item .lastName {
  color: #000;
  font-size: 12pt;
  font-weight: bold;
}
ul {
  padding: 0;
}
ul.social,
ul#social-profiles {
  list-style-type: none;
}
ul.social li,
ul#social-profiles li {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.modal-container {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}
.modal-container .modal-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 20px;
  padding-top: 60px;
  right: -15px;
}
.modal-container .modal-view .modal {
  position: relative;
  left: -8px;
  min-height: 675px;
  /*border: 2px solid blue;*/

  margin: 0 auto;
  padding: 0;
  z-index: 110;
  margin-top: 75px;
  margin-bottom: 8%;
  /* left: 10%; */

  /* right: 10%; */

  /* top: 10%; */

  /* bottom: 10%; */

  width: 100%;
  /* height: 600px; */

  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
  transform: scale(0.96);
  max-width: 750px;
  background: #E8E8E8;
  -webkit-transition: 0.4s all cubic-bezier(0.3, 1, 0.5, 1);
  -o-transition: 0.4s all cubic-bezier(0.3, 1, 0.5, 1);
  transition: 0.4s all cubic-bezier(0.3, 1, 0.5, 1);
}
.modal-container .modal-view .modal header {
  height: 147px;
  margin-top: -19px;
  background: -moz-linear-gradient(45deg, rgba(136, 82, 160, 0.7) 0%, rgba(0, 172, 211, 0.7) 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(45deg, rgba(136, 82, 160, 0.7) 0%, rgba(0, 172, 211, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(45deg, rgba(136, 82, 160, 0.7) 0%, rgba(0, 172, 211, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  padding: 30px;
}
.modal-container .modal-view .modal header h3,
.modal-container .modal-view .modal header p,
.modal-container .modal-view .modal header a {
  color: white;
}
.modal-container .modal-view .modal header p {
  display: inline-block;
  position: relative;
  top: -20px;
  left: 80px;
}
.modal-container .modal-view .modal header ul {
  position: relative;
  float: right;
  /* top: 0; */

  right: 0;
  bottom: 43px;
}
.modal-container .modal-view .modal.slide-in {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.modal-container .modal-view .modal button {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  border: 0;
  outline: 0;
  top: -90px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: white;
  background: rgba(100, 100, 100, 0.5);
}
.modal-container .modal-view .modal .bio {
  background: #e8e8e8;
  height: 100%;
  z-index: inherit;
  padding: 30px;
}
.modal-container .modal-view .modal .bio h3 {
  margin-bottom: 0;
  margin-top: 13px;
}
.modal-container .modal-view .modal .bio p {
  margin-top: 20px;
  font-size: 16px;
}
.modal-container .modal-view .modal .bio .social {
  position: absolute;
  bottom: 90px;
}
.modal-container .modal-view .modal .bio .website {
  display: inline-block;
  padding: 20px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}
.modal-container .modal-view .modal .work-grid {
  background: #f3f3f3;
  padding: 20px;
}
.modal-container .modal-view .modal .bio img,
.modal-container .modal-view .modal .work-grid img {
  width: 100%;
}
.modal-container .modal-view .modal .bio p:nth-of-type(1),
.modal-container .modal-view .modal .work-grid p:nth-of-type(1) {
  margin-bottom: 20px;
}
.modal-container .modal-view .modal .avatar-pic {
  position: relative;
  top: 10px;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  float: left;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.modal-container .modal-view .modal .avatar-pic img {
  width: 100%;
}
.modal-container .modal-view .modal .profile-select-buttons {
  list-style-type: none;
  padding: 0;
  max-width: 750px;
  display: block;
  height: 67px;
  width: 100%;
  z-index: 10;
  margin: 0;
}
.modal-container .modal-view .modal .profile-select-buttons i {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.modal-container .modal-view .modal .profile-select-buttons li {
  display: inline-block;
  height: 100%;
  width: 50%;
  background: black;
  /*border:1px solid red;*/

  padding: 23px 40px;
  color: white;
  cursor: pointer;
}
.modal-container .modal-view .modal .profile-select-buttons li:hover {
  background: rgba(47, 47, 47, 0.92);
}
.modal-container .modal-view .modal .profile-select-buttons li:nth-of-type(1) {
  float: left;
}
.modal-container .modal-view .modal .profile-select-buttons li:nth-of-type(2) {
  float: right;
  text-align: right;
}
/* Map ------------------------------------------ */
.map-section {
  width: 100%;
  position: relative;
  margin-top: 8em;
  box-shadow: inset 0px 180px 230px #fff;
}
.map-section p {
  font-size: 1.3em;
  font-weight: 300;
}
.map-section h2 {
  text-transform: uppercase;
}
.map-section h3 {
  margin-top: 2em;
}
.map-section .direction-btn {
  width: 240px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10em;
  background-color: #00acd3;
  color: #ffffff;
}
.map-section .container {
  background-color: white;
  padding: 1.3em 0;
  position: absolute;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  left: 20px;
  right: 20px;
  top: -5em;
  max-width: 1140px;
  background: white;
  box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.15);
}
.map-section .container a.btn {
  width: 170px;
  color: #ffffff;
  margin-top: 2em;
}
.map-section .show-info {
  padding: 1em 0 2em 5em;
}
.map-section .show-info .btn {
  background-color: #793f98;
}
#map {
  width: 100%;
  height: 820px;
  z-index: -10;
}
/* RSVP info ------------------------------------- */
#rsvp-info {
  padding: 5em 0 7em 0;
  min-height: auto;
  position: relative;
  background: url(../images/thankyou_backgrounds.svg) no-repeat;
  background-size: cover;
}
#rsvp-info .btn {
  position: relative;
  overflow: hidden;
  width: 170px;
  margin-top: 2em;
  background-color: #793f98;
  color: #ffffff;
  z-index: 0;
}
#rsvp-info .btn::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #603279;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}
#rsvp-info .btn:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}
/* Instagram feed ------------------------------------- */
#instafeed {
  width: 100%;
}
#instafeed .instagram-item {
  display: block;
  float: left;
  width: 20%;
}
#instafeed .instagram-item img {
  display: block;
  width: 100%;
}
/* Footer --------------------------------------------- */
footer footer .social {
  width: 100%;
  font-size: 1.65em;
}
footer footer .social li {
  margin-right: 1em;
  text-align: right;
}
/* Media Queries
* 
--------------------------------------------- */
@media (max-width: 768px) {
  .modal .slider-container {
    right: 0;
    left: 0;
    height: 50%;
    width: 100%;
    bottom: 0;
    visibility: hidden;
  }
  .modal .bio {
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: 0px;
    top: 0;
  }
}
@media (min-width: 1140px) {
  #gallery .grid-item {
    width: 20%;
  }
}
@media (max-width: 1140px) {
  .map-section .show-info {
    padding-top: 0;
    padding-bottom: 0;
  }
  .map-section h3 {
    margin-top: 1.5em;
    font-size: 1.17em;
  }
  .map-section p {
    font-size: 1.2em;
  }
  .map-section .direction-btn {
    bottom: 8em;
  }
  #map {
    height: 800px;
  }
}
@media (max-width: 990px) {
  #gallery .grid-item {
    width: 25%;
  }
  .map-section .container {
    width: 80%;
  }
  .map-section .show-info {
    padding-left: 3em;
    width: 45%;
    float: left;
  }
  .map-section .show-info h2 {
    margin-top: 20px;
  }
  .map-section .show-info h3,
  .map-section .show-info h4 {
    margin-top: 1.3em;
    margin-bottom: .5em;
  }
  .map-section .show-info p {
    font-size: 1.1em;
  }
  .map-section #show-info img.col-md-6 {
    width: 55%;
    float: left;
    padding-left: 0;
    padding-right: 1.3em;
  }
  #rsvp-info .col-md-4:first-child {
    margin-bottom: 4em;
  }
  #instafeed .instagram-item {
    display: block;
    float: left;
    width: 33.3%;
  }
  #instafeed .instagram-item img {
    display: block;
    margin: 0 auto;
  }
  footer {
    float: right;
  }
  footer i {
    transition: color 0.5s ease;
  }
  footer i:hover {
    color: #3f51b5;
  }
}
@media (max-width: 850px) {
  #gallery .grid-item {
    width: 33.33333%;
  }
  .map-section .show-info,
  .map-section #show-info img.col-md-6 {
    width: 100%;
  }
  .show-details,
  .location {
    width: 50%;
    float: left;
  }
  .map-section #show-info img.col-md-6 {
    padding-top: 2.5em;
    padding-left: 1.3em;
  }
  #map {
    height: 1100px;
  }
  .map-section .direction-btn {
    bottom: 3.7em;
  }
}
@media (max-width: 735px) {
  #instafeed .instagram-item {
    width: 50%;
  }
  #instafeed .instagram-item:nth-child(5),
  #instafeed .instagram-item:nth-child(6),
  #instafeed .instagram-item:nth-child(7),
  #instafeed .instagram-item:nth-child(8),
  #instafeed .instagram-item:nth-child(9),
  #instafeed .instagram-item:nth-child(10) {
    display: none;
  }
}
@media (max-width: 640px) {
  .map-section .container {
    padding: 2em;
  }
  .map-section .show-info {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0;
    float: none;
  }
  .show-details,
  .location {
    width: 100%;
  }
  .map-section #show-info img.col-md-6 {
    padding: 3em 0 0 0;
  }
}
@media (max-width: 820px) {
  .modal-container .modal-view {
    /*padding-top: 80px;*/
  
  }
}
@media (max-width: 450px) {
  .modal-container .modal-view .modal header ul {
    float: none;
    bottom: 23px;
    margin-left: 80px;
  }
  .modal-container .modal-view .modal .profile-select-buttons li span {
    font-size: 13px;
  }
  #instafeed .instagram-item {
    width: 100%;
  }
  footer {
    float: none;
  }
  footer .fa {
    font-size: 1.3em;
  }
}
