/* Variables
--------------------------------------------- */







/* Mixins 
--------------------------------------------- */







/* Global
--------------------------------------------- */

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-decoration: none;
}

body {
	width: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


/* Content
* 
--------------------------------------------- */


.container {
	display: block;
	float: left;
	margin: 0 auto;
	width: 1600px;
}

#title {
	display: block;
	float: left;
}

#info {
	display: block;
	float: left;
}

ul {
	list-style-type: none;
}









/* Media Queries
* 
--------------------------------------------- */