/* Variables
--------------------------------------------- */

@mediumLightGray: 		#E8E8E8;
@lightGray:				#F4F4F4;


@montserrat: 			'Montserrat', sans-serif;
@lato: 					'Lato', sans-serif;




/* Mixins 
--------------------------------------------- */







/* Global
--------------------------------------------- */

* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-decoration: none;
}

body {
	width: 100%;
	font-family: @montserrat;
}

.container {
	width: 80%;
	max-width: 1140px; // temporary, needs to be changed
	margin: 0 auto;
}

p {
	margin: 0;
}

section {
	min-height: 75vh;
}

/* Content
* 
--------------------------------------------- */


// Nav  ----------------------------------------->

.header {
	position: static;
}
.logo {
  
  font-size: 25px;
  color: @mediumLightGray;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  padding: 1.5%;
  // @include small {
  //   float: none;
  // }
}

nav {
  float: right;
  width: 60%;
  // @include small {
  //   width: 100%;
  // }

  ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    // @include small {
    //   padding-top: 10px;
    //   margin-bottom: 22px;
    //   float: left;
    //   text-align: center;
    //   width: 100%;
    // }

    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
      // @include small {
      //   width: 100%;
      //   padding: 7px 0;
      //   margin: 0;
      // }
    }
    a {
      color: #888888;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
.row-nav {
	display: inline-block;
	width: 100%;
	max-width: 100vw;
	margin: 0 auto;
	position: relative;
	padding: 0 2%;
}

//------------------------------------------> Nav End


// Intro  ----------------------------------------->

#right-box-intro{
	padding: 10%
}

#left-box-intro{
	padding: 2.5%
}

//------------------------------------------> Intro End

#gallery {

	.selection {

		li {
			display: inline-block;
			padding: 6px 5px 4px 5px;
			font-size: 13pt;
			font-weight: bold;
			margin-right: 15px;
			cursor: pointer;

			&.active {
				border: 1px solid;
			}	
		}				
	}



	.grid-item {
		margin-top: 40px;
		width: 20%;
		position: relative;
		display: inline-block;
		/*padding-right: 10px;*/

		img {
	        box-shadow: 0 19px 44px rgba(0, 0, 0, 0.09);
		    max-width: 170px;
		}

		.profileInfo {
			margin-left: 10px;
			bottom: 50px;
			position: absolute;
			width: 40%;

			hr {
				border: none;
				height: 2px;
				background: #fff;
				width: 74px;
				margin: 0;
				margin-bottom: 4px;
				margin-top: 4px;
			}

			p {
				color: #fff;
				font-size: 9pt;
			}

			.title {
				line-height: 13px;
			}

			.website {
				margin-bottom: 10px;
			}
		}
		
		.firstName {
			color: #000;
			font-size: 15pt;
			font-weight: bold;
		}

		.lastName {
			color: #000;
			font-size: 12pt;
			font-weight: bold;
		}
	}
}




ul {
	padding: 0;

	&.social {
		list-style-type: none;
		li {
			display: inline-block;
			float: left;
			margin-right: 10px;
		}
	}
}

.modal {
	padding: 0;
	position: fixed;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 20px;
    right: 20px;
    top: 50px;
    height: 584px;
    max-width: 1140px;
    background: white;
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.15);
	
	button {
		position: absolute;
	    z-index: 100;
	    top: 10px;
	    right: 10px;
	    border: 0;
	    outline: 0;
	}
    .bio {
    	background: @mediumLightGray;
	    height: 100%;
	    position: absolute;
	    max-width: 384px;
	    min-width: 384px;
	    padding: 40px;
	    z-index: inherit;

	    h3 {
	    	margin-bottom: 0;
	    }

	    .social {
    	    position: absolute;
			bottom: 20px;
	    }
    }

    .slider-container {
    	background:@lightGray;
    	position: absolute;
	    left: 384px;
	    overflow: hidden;
	    background: #f4f4f4;
	    right: 0;
	    height: 100%;
		.slider-shadow {
		    z-index: 10;
			position: absolute;
			width: 100%;
			height: 100%;
		    background: -webkit-linear-gradient(left, @lightGray 0%, rgba(255,255,255,0) 17%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 82%, @lightGray 100%);
		    background: -o-linear-gradient(left, @lightGray 0%, rgba(255,255,255,0) 17%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 82%, @lightGray 100%);
		    background: linear-gradient(to right, @lightGray 0%, rgba(255,255,255,0) 17%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 82%, @lightGray 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		
		}

    	.slider {
    		transition: .8s ease left .1s;
    		width:2000px;
    		// make this auto width based on number of images inside
		    /*border: 1px solid red;*/
		    height: 400px;
		    position: relative;
		    top: 60px;
		    left: 70px;
		    box-shadow: inset;
    		div {
    			height: 100%;
    			width: 540px;
    			background: @mediumLightGray;
    			display: inline-block;
    			float: left;
    			margin-right: 70px;
    		}
    	}
    }
}




/* Map ------------------------------------------ */

#show-info {
	width: 100%;
	position: relative;
	margin-top: 8em;

	h2 {
		text-transform: uppercase;
	}


	.container {
		background-color: white;
		padding: 1em 0;
		position: absolute;
	    z-index: 9;
	    margin-left: auto;
	    margin-right: auto;
	    left: 20px;
	    right: 20px;
	    top: -5em;
	    max-width: 1140px;
	    background: white;
	    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.15);
	}
}

#map {
	width: 100%;
	height: 800px;
	z-index: -10;
}



/* Instagram feed ------------------------------------- */

#instafeed {
	width: 100%;

	.instagram-item {
		display: block;
		float: left;
		width: 20%;


		img {
			display: block;
			width: 100%;
		}
	}
}

/* Footer --------------------------------------------- */

footer .social {
	font-size: 1.65em;

	li {
		margin-right: 1em;
		text-align: right;
	}

}









/* Media Queries
* 
--------------------------------------------- */
